# MongoDB
MONGO_URI=

# JWT
JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=

# reCAPTCHA
RECAPTCHA_SECRET_KEY=
RECAPTCHA_THRESHOLD=0.5

# Turnstile
TURNSTILE_SECRET_KEY=

# Email (SMTP)
OTP_EMAIL_SERVICE=gmail
OTP_EMAIL_USER=
OTP_EMAIL_PASS=

# Redis Credentials
REDIS_URL=
REDIS_PASSWORD=

# Rate Limiting Settings
RATE_LIMIT_REQUESTS=100
RATE_LIMIT_WINDOW=15 m

# Frontend URL
FRONTEND_URL=

# Optional
PORT=5000
LOG_LEVEL=info

# Hibp
HIBP_ENABLED=false
HIBP_TIMEOUT=5000
HIBP_CACHE_TTL=3600